.custom-header{
    padding: 0px;
}
.custom-header img{
    padding: 0px;
    position: fixed;
    top: 0px;
    z-index: -1;
}
.custom-header{
    background-color: transparent;
}

.custom-header .site-branding{
    background-color: transparent;
    color: white;
    margin-top: 500px;
    margin-left: 200px;
}

.main{
    background-color: white;
    padding-top: 40px;
    padding-bottom: 100px;
}


.widget-title{
    font-size: 1rem;
}
.widget ul {
    list-style: none;
    margin: 0;
    padding: 0px;
}
.widget ul li{
    margin-left: 0px;
}

.article-item{
    padding-bottom: 30px;
    margin-top: 20px;
}
.comment-entry-title{
    color: #999999;
}
.media-heading time{
    color: #999999;
    font-size: 1rem;
}
.comment{
    margin-top: 20px;
}

footer{
    position: relative;
    text-align: center;
    height: 50px;
    background-color: #3c3c3c;
    color: white;
    padding-top: 20px;
}
