<div ng-controller="ArticleListCtrl">
    <article ng-repeat="article in articles" class="article-item">
        <header class="entry-header">
            <div class="entry-meta">
                <span>发布于</span>
                <a ui-sref="details({articleId:article.id})"> <time ng-bind="article.publishTime"></time></a>
            </div>
            <h2 class="entry-title">
                <a ui-sref="details({articleId:article.id})" ng-bind="article.title"></a>
            </h2>
        </header>
        <div class="entry-content">
            <p ng-bind="article.summary"></p>
        </div>
    </article>
</div>